body { padding:20px; overflow: hidden; background-image: url(../media/assets/grid.svg); background-color:#111; font-family: 'input_mono_medium'; font-size:9px; background-size:20px 20px;}
svg { padding:50px 10px; width:calc(100vw - 80px); height:calc(100vh - 80px); }
svg .node { fill:#777; }
svg .port { fill:#111; stroke:white; stroke-width:1; }
svg path { stroke:white; fill:none; stroke-width:1;stroke-linejoin: round; stroke-linecap: round  }
svg rect { stroke:#fff;  stroke-width:1; fill:none; }
svg rect.fill { fill:#111; }
svg text { fill:white;  text-transform: uppercase; }
svg text.input { text-anchor: end }
svg text.output { text-anchor: start }

svg g.node text { text-anchor: middle }
svg g.node .port.input, svg g.node .port.answer { fill:white; }

svg path.route { stroke:#fff; stroke-width:2;  }
svg path.route.request { stroke-dasharray: 5,5 }

svg g:hover text { fill:red; cursor: pointer; }

#render { background:white; display: block; position:fixed; bottom:0px; left:0px; padding:10px; }